/.web-server-pid
filmoteca/app/config/parameters.yml
/build/
/phpunit.xml
filmoteca/var/*
!/var/cache
filmoteca/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/filmoteca/vendor/
/filmoteca/web/bundles/
